@media (max-width: 570px) {
  .albert-logo {
    margin-left: 31%;
  }
}
@media (min-width: 570px) {
  .albert-logo {
    margin-left: 35%;
  }
}

@media (min-width: 700px) {
  .albert-logo {
    margin-left: 37%;
  }
}