:root {
  --brand-dark-blue: #152168;
  --brand-teal: #1c94c4;
  --brand-grey: #868686;
}

body {
  transition: background 0.25s linear;
}

h1,
h5 {
  color: var(--brand-dark-blue);
}

a {
  color: var(--brand-teal);
}

/* Dark Mode Settings */
body.dark-mode {
  background: #232323;
  color: #fff;
}

h1.dark-mode {
  color: #fff;
}

h5.dark-mode {
  color: #fff;
}

a.dark-mode {
  color: #fff;
}

span.dark-mode {  
  color: var(--brand-dark-blue);
}

.accordion-body.dark-mode {
  color: #fff;
  background-color: var(--brand-grey);
}

.accordion-button.dark-mode {
  color: #fff;
  background-color: var(--brand-grey);
}

li.dark-mode {
  color: #fff;
  background-color: var(--brand-grey);
}

/* Dark Mode Toggler */
.checkbox {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.label {
  background-color: #505050;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  position: relative;
  height: 14px;
  width: 30px;
  transform: scale(1.25);
}

.label .ball {
  background-color: var(--brand-grey);
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 14px;
  width: 16px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(14px);
}

.fa-moon {
  color: #ffe479;
  font-size: 10px;
  padding-top: 2px;
}

.fa-sun {
  color: #ffc31d;
  font-size: 10px;
  padding-top: 2px;
}

.accordion-body > strong {
  color: var(--brand-dark-blue);
}

.list-group-item a {
  cursor: default;
}

.tooltip-inner {
  min-width: 360px !important;
  background: #6c6c6c;
  color: #fff;
  padding: 0.5rem;
  border-radius: 7px;
  opacity: 1 !important;
}

.tooltip.show {
  opacity: 1 !important;
}

.technique-principle {
  color: #486da6;
  font-weight: 600;
}

.top-technique-principle {
  color: #f0a729;
  font-weight: 600;
}

.crucial-top-technique-principle {
  color: #f56451;
  font-weight: 600;
}

sup {
  margin: 0 0.3rem;
}

@media (max-width: 570px) {
  .albert-logo {
    margin-left: 31%;
  }
}
@media (min-width: 570px) {
  .albert-logo {
    margin-left: 35%;
  }
}

@media (min-width: 700px) {
  .albert-logo {
    margin-left: 37%;
  }
}