:root {
  --brand-dark-blue: #20339ec8;
  --brand-teal: #1c94c4;
  --brand-grey: #868686;
  --brand-dark-grey: #494949f5;
}

body {
  transition: background 0.25s linear;
  color: var(--brand-dark-grey);
  font-weight: 500;
}

h1,
h5 {
  color: var(--brand-dark-blue);
  transition: background 0.25s linear;
}

h2 button {
  color: var(--brand-dark-grey) !important;
  font-weight: 500;
}

p > a {
 cursor: pointer !important;
}

a {
  color: var(--brand-teal);
}

span,
.accordion-body,
.accordion-button,
li {
  transition: background 0.25s linear;
}

.jump-section{
  cursor: pointer;
  line-height: 1.75rem;
}

ul.list-group {
  list-style-type: none;
}

.quote-citation {
  color: #1c94c4;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0px 8px;
  margin: 0 0 8px 0;
  background-color: transparent;
  border: none;
}

.popover {
  background: transparent;
  border: none;
}

.popover.bs-popover-auto .popover-arrow:after {
  border-top-color: var(--brand-dark-grey) !important;
}

.popover.bs-popover-auto .popover-arrow:after {
  border-right-color: var(--brand-dark-grey) !important;
}

.popover.bs-popover-auto .popover-arrow:after {
  border-bottom-color: var(--brand-dark-grey) !important;
}

.popover.bs-popover-auto .popover-arrow:after {
  border-left-color: var(--brand-dark-grey) !important;
}

.popover-body {
  padding: 0.6rem;
  background: var(--brand-dark-grey);
  color: #fff;
  border-radius: 10px;
  text-align: center;
}

/* Dark Mode Settings */
body.dark-mode {
  background: #232323;
  color: #fff;
}

h1.dark-mode,
h5.dark-mode,
a.dark-mode,
span.dark-mode,
.ul-subheading.dark-mode,
.quote-citation.dark-mode {
  color: #fff !important;
}

.crucial.technique-principle.dark-mode,
.important.technique-principle.dark-mode,
.technique-principle.dark-mode {
  color: #fff;
  text-decoration: underline;
}

.accordion-body.dark-mode,
.accordion-button.dark-mode,
li.dark-mode {
  color: #fff !important;
  background-color: var(--brand-grey);
}

/* Dark Mode Toggler */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #505050;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px 6px;
  position: relative;
  height: 16px;
  width: 32px;
  transform: scale(1.25);
}

.label .ball {
  background-color: var(--brand-grey);
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 16px;
  width: 16px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(16px);
}

.fa-moon {
  color: #ffe479;
  font-size: 10px;
  padding-top: 2px;
}

.fa-sun {
  color: #ffc31d;
  font-size: 10px;
  padding-top: 2px;
}
/* End of Dark Mode Section */

span {
  color: var(--brand-dark-blue);
}

.albert-logo {
  padding: 0.25rem 0 0.18rem 0.25rem;
}

.albert-heading {
  font-size: 40px;
  letter-spacing: 0.05rem;
}

.accordion-body > strong {
  color: var(--brand-dark-blue);
}

.list-group-item {
  color: var(--brand-dark-grey);
}

.list-group-item a {
  cursor: default;
}

.tooltip-inner {
  min-width: 360px !important;
  background: #6c6c6c;
  color: #fff;
  padding: 0.5rem;
  border-radius: 7px;
  opacity: 1 !important;
}

.tooltip.show {
  opacity: 1 !important;
}

.crucial.technique-principle {
  color: #f56451e4;
  font-weight: 600;
}

.important.technique-principle {
  color: #e08e00;
  font-weight: 600;
}

.technique-principle {
  color: #486ea6e8;
  font-weight: 600;
}

sup {
  margin: 0 0.3rem;
}

.accordion-body {
  color: var(--brand-dark-grey);
}

.li-img {
  text-align: center;
}

.li-img img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
}

footer p {
  text-align: left;
}
